<div class="card">
  <div *ngFor="let note of NotesList" >
    <mat-card class="note" [style.background]="note.colour">
        <mat-card-header>
          <mat-card-title (click)="UpdateNote(note)"> {{note.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>{{note.description}}</div>
            <div>{{note.notesId}}</div>
        </mat-card-content>
        <div>
          <app-app-icons [notesObject]="note" (refreshEvent)="receivedRefershEvent($event)"></app-app-icons>
        </div>
      </mat-card>
  </div>
</div>