<div class="login-container">
    <div class="login">
      <mat-card class="card">
        <mat-card-content>
          <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="Google" class="google-image">
        </mat-card-content>
        <div class="main-content">
          <div class="left">
            <h1>Sign in</h1>
            <span>Use your Google Account</span>
          </div>
          <div class="right">
            <form>
              <mat-form-field appearance="outline" class="field">
                <mat-label>Email or phone</mat-label>
                <input matInput required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="field">
                <mat-label>Password</mat-label>
                <input matInput type="password" required>
              </mat-form-field>
              <button mat-button class="forgot-password">Forgot Password?</button>
              <div class="guest-mode">
                Not your computer? Use Guest mode to sign in privately.
                <a href="#">Learn more about using Guest mode</a>
              </div>
            </form>
            <div class="action-buttons">
              <button mat-flat-button color="primary">Next</button>
              <button mat-button color="primary">Create Account</button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="footer">
      <div class="language-select">
        <select>
          <option value="">English (United States)</option>
          <option value="">Kannada</option>
          <option value="">Telugu</option>
          <option value="">Hindi</option>
          <option value="">Marathi</option>
          <option value="">Tamil</option>
        </select>
      </div>
      <div class="footer-links">
        <button mat-button href="https://support.google.com/accounts?hl=en&p=account_iph" target="_blank">Help</button>
        <button mat-button href="https://accounts.google.com/TOS?loc=IN&hl=en&privacy=true" target="_blank">Privacy</button>
        <button mat-button href="https://accounts.google.com/TOS?loc=IN&hl=en" target="_blank">Terms</button>
      </div>
    </div>
  </div>
  