.login{

    background-color: #F0F4F9;
    width: 100%;
    height: 100%;
    align-content: center!important;
    justify-content: center!important;
    padding-left: 15%;
}

.card{
    width: 70%;
    height: 510px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
}

.GoogleImage{
    width: 48px;
    height: 48px;
    margin: 13px 0px 0px 13px;
}

.Main{
    display:flex;
    flex-direction: row;
}

.left{
    padding: 30px 0px 0px 30px;
    margin-left: 10px;
    width: 50%;
}

.field{
    width: 100%;
}

.footer{
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5px;
    padding: 0px 10px;
    background-color: #F0F4F9;
}

.ft-d2{
    display: flex;
    gap: 30px;
}

.ft-d1-select{
    height: 30px;
    width: fit-content;
    background-color: #F0F4F9;
    border: none;
    color: rgb(73, 73, 73);
}

.ft-d2 button{
    border-radius: 8px;
    color: rgb(73, 73, 73);
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.00625rem;
    line-height: 1.3333333333;
    outline: none;
    padding: 8px 12px;
    text-decoration: none;
}

