<div class="login">
    <mat-card class="card">
        <div>
            <mat-card-content>
                <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="Google" class="GoogleImage">
            </mat-card-content>
        </div>
        <div class="Main">
            <div class="left">
                <p class="left-text" style="font-size: 36px;">Reset your password</p>
                <br>
                <p class="left-text" style="font-size:16px">Choose a strong password for Google Account</p>
            </div>
            <div class="right">
              <div>
                <mat-form-field appearance="outline" class="field">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline" class="field">
                  <mat-label>Confirm Password</mat-label> 
                  <input matInput placeholder="">
                </mat-form-field>
              </div>
              <div class="buttons" style="margin-top:50px;">
                <button mat-button color="primary" style="margin-right: 30px;">Return to Signin</button>  
                <button mat-flat-button color="primary">Next</button>
              </div>
            </div>
        </div>
      </mat-card>
      <div class="footer">
        <div class="ft-d1">
          <select class="ft-d1-select">
            <option value="">English (United States)</option>
            <option value="">Kannada</option>
            <option value="">Telugu</option>
            <option value="">Hindi</option>
            <option value="">Marathi</option>
            <option value="">Tamil</option>
          </select>
        </div>
        <div class="ft-d2">
          <button mat-button href="https://support.google.com/accounts?hl=en&p=account_iph" target="_blank">Help</button>
          <button mat-button href="https://accounts.google.com/TOS?loc=IN&hl=en&privacy=true" target="_blank">Privacy</button>
          <button mat-button href="https://accounts.google.com/TOS?loc=IN&hl=en" target="_blank">Terms</button>
        </div>
      </div>
  </div>